@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

html { 
  background: url(images/background_img/black_wood.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Deliver_form{
  display: flex;
  flex-direction: row;
}
.Signup_wizard{
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  width: 50%;
  margin: 10vh 0 0 7vh;
  padding: 2vh 4vh;
  padding-bottom: 6vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);

  font-family: 'Montserrat', sans-serif;
}
input[type=email]:not(.browser-default),
input[type="text"]:not(.browser-default) {
  font-size: 3vh;
  color: rgb(223, 223, 223);
}